<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Todos</title>
  </head>
  <body>
    <nav>
      <a href="/todos">To Do </a>
      <a href="/todos/new"> New To Do </a>
    </nav>

    <br><br>
    {{{ body }}}

  </body>
</html>
