<h1> Did You Discover A New Pokemon? </h1>

<form action="/pokemon" method="POST">
  <input type="number" name="id" placeholder="ID"><br>
  <input type="text" name="name" placeholder="Name"><br>
  <input type="text" name="img" placeholder="Image Link"><br>
  <input type="text" name="type" placeholder="Type"><br>
  <input type="text" name="stats" placeholder="Stats"><br>
  <input type="text" name="moves" placeholder="Moves"><br>
  <input type="text" name="damages" placeholder="Damages"><br>
  <input type="text" name="misc" placeholder="Miscellaneous"><br>
  <input type="submit" value="Update Pokedex">
</form>
