body {
  font-size: 11px;
  color: #212121;
  margin: 0 auto;
}

h1 {
  color: #7A7A7A;
}

.girl {
  margin: auto;
  width: 70%;

}

.rings {
  margin: auto;
  width: 70%;


}

h2 {
  font-family: Georgia, serif;
  font-size: 0.7em;
  color: #212121;
  margin: auto;

}

.date {
  color: #2439C2;
  font-size: 1.05em;
}

p {
  width: 70%;

  font-size: 1.2em;
  color: #837E85;
}

.Readmore {
  color: #2439C2;
}

.business {
  border: 0.6em solid #ADA7B0;
  margin: 1em 0.2em;
  float: left;

}

.copyright {
  clear: left;
}
